.list-block .item-subtitle {
  white-space: normal;
}

.list-block .item-text {
  height: auto;
}

.item-example {
  font-size: 15px;
  white-space: normal;
  border-left: 5px solid #eee;
  padding: 0 0 0 15px;
  margin-top: 10px;
  margin: 10px 0 0 10px;
}